.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type="password"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.criteria {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.criteria li {
  display: flex;
  align-items: center;
}

.icon {
  color: green;
  margin-right: 10px;
}

.error {
  color: red;
}

.terms {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.terms label {
  margin-left: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="button"] {
  background-color: #ccc;
}

button[type="submit"] {
  background-color: #619a6c;
  color: aliceblue;
}

.valid {
  color: #619a6c;
}

.invalid {
  color: #ff0000;
}
