body {
  font-family: Arial, sans-serif;
  background-color: #000046; /* Dark blue background */
  color: white;
  margin: 0;
  padding: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 300px;
}
